@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.g-red-purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3e56+0,371f72+100 */
  background: #ff3e56;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff3e56 0%, #371f72 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff3e56 0%, #371f72 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff3e56 0%, #371f72 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e56', endColorstr='#371f72', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.g-blue-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bdb7+0,01eeb8+100 */
  background: #00bdb7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00bdb7 0%, #01eeb8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00bdb7 0%, #01eeb8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00bdb7 0%, #01eeb8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bdb7', endColorstr='#01eeb8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.g-purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b30fbd+0,371f73+100 */
  background: #b30fbd;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #b30fbd 0%, #371f73 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #b30fbd 0%, #371f73 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #b30fbd 0%, #371f73 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b30fbd', endColorstr='#371f73', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.g-red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3e56+0,ff3e67+100 */
  background: #ff3e56;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ff3e56 0%, #ff3e67 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff3e56 0%, #ff3e67 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff3e56 0%, #ff3e67 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e56', endColorstr='#ff3e67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.g-orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee763c+0,ee873c+100 */
  background: #ee763c;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ee763c 0%, #ee873c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ee763c 0%, #ee873c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ee763c 0%, #ee873c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee763c', endColorstr='#ee873c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.b-red {
  background: #FF3E56;
}
.g-green{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a49d+0,00bcb6+100 */
background: #00a49d; /* Old browsers */
background: -moz-linear-gradient(top, #00a49d 0%, #00bcb6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00a49d 0%,#00bcb6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00a49d 0%,#00bcb6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a49d', endColorstr='#00bcb6',GradientType=0 ); /* IE6-9 */
}
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.text-light,
.text-white {
  color: #ffffff;
}
.text-light a,
.text-white a {
  color: #ffffff;
  text-decoration: underline;
}
.text-light a.btn,
.text-white a.btn {
  text-decoration: none;
}
.text-small {
  font-size: .8em;
}
h2.section-title {
  font-weight: 700;
  color: #808386;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
h2.section-title.text-light {
  color: #ffffff;
}
h2.section-title i {
  display: none;
  margin-bottom: 3px;
  opacity: .4;
}
@media (min-width: 768px) {
  h2.section-title i {
    display: block;
  }
    .testimonial-carousel{
        padding: 0 40px;
    }
}
h2.section-title span {
  position: relative;
  display: inline-block;
}
h2.section-title span:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 1px solid #f6f6f6;
  position: absolute;
  bottom: -10px;
  left: 15%;
}
h3.section-subtitle {
  max-width: 400px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}
h4 {
  margin-bottom: 2em;
}
.v-align-children {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.no-padding {
  padding: 0;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-t-60 {
  padding-top: 60px;
}
.p-t-70 {
  padding-top: 70px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-t-100 {
  padding-top: 100px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.p-b-70 {
  padding-bottom: 70px;
}
.p-b-80 {
  padding-bottom: 80px;
}
.p-b-90 {
  padding-bottom: 90px;
}
.p-b-100 {
  padding-bottom: 100px;
}
.container-small {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.shadow {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  -moz-box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
}
.shadow-sm {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  -moz-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
}
.background-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar .navbar-brand {
  background-image: url(../images/logo-default.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 190px;
  height: 65px;
  text-indent: -99999px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav > li > a {
  padding: 0px 15px;
  line-height: 65px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
.navbar .navbar-nav > li > a:hover {
  text-decoration: underline;
  background: transparent;
}
.navbar.navbar-default {
  background: #ffffff;
  border: none;
}
.navbar.navbar-default .navbar-brand {
  margin-left: 0;
}
.navbar.navbar-transparent {
  background: transparent;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.navbar.navbar-transparent .navbar-toggle {
  margin-top: 15px;
}
.navbar.navbar-transparent .navbar-toggle .icon-bar {
  background: #FF3E56;
}
.navbar.navbar-transparent.affix {
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(99, 117, 138, 0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(99, 117, 138, 0.1);
  box-shadow: 0px 3px 8px 0px rgba(99, 117, 138, 0.1);
}
.navbar.navbar-transparent.affix .navbar-nav > li > a {
  color: #808386;
}
.navbar.navbar-transparent.affix .navbar-brand {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar.navbar-transparent .navbar-nav > li > a {
  color: #fff;
}
header .container {
  position: relative;
}
header .icon {
  width: 70px;
  height: 70px;
  background: #808386;
  position: absolute;
  left: 5px;
  top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  -moz-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
}
header .icon::after {
  width: 54px;
  height: 54px;
  background: #ffffff;
  display: block;
  content: " ";
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  -moz-box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(99, 117, 138, 0.3);
}
header .icon i {
  font-size: 32px;
  position: relative;
  z-index: 3;
  margin: 10px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  header .icon i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 48px;
  }
}
@media only screen and (min-width: 992px) {
  header .icon {
    width: 100px;
    height: 100px;
  }
  header .icon::after {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
  }
}
header .section-title {
  padding: 30px 0px 15px 0px;
  position: relative;
  margin-left: 80px;
}
@media only screen and (min-width: 992px) {
  header .section-title {
    padding: 40px 0px 20px 0px;
    margin-left: 110px;
  }
}
header .section-title h1 {
  font-size: 1.6em;
  font-weight: 900;
  color: #ffffff;
  position: relative;
  z-index: 2;
  margin: 0;
  margin-left: 15px;
}
@media only screen and (min-width: 992px) {
  header .section-title h1 {
    font-size: 2em;
    margin-left: 20px;
  }
}
header .section-title h3 {
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  left: 16px;
}
@media only screen and (min-width: 992px) {
  header .section-title h3 {
    left: 21px;
  }
}
header .section-title .aux {
  position: absolute;
  font-size: 2em;
  top: 9px;
  font-weight: 900;
  opacity: .1;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
}
@media only screen and (min-width: 992px) {
  header .section-title .aux {
    font-size: 3em;
  }
}
.btn {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 14px;
  letter-spacing: .1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-lg {
  padding: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .btn-lg {
    padding: 15px 35px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-lg {
    padding: 15px 35px;
  }
}
.btn-sm {
  padding: 8px 25px;
  font-size: .9em;
  border: 1px;
}
.btn-rounded {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-outline {
  border-width: 2px;
  border-style: solid;
  font-weight: 600;
}
.btn-default,
.btn-grey {
  background: #808386;
  color: #ffffff;
}
.btn-default.btn-outline,
.btn-grey.btn-outline {
  background: transparent;
  border-color: #808386;
  color: #808386;
}
.btn-default.btn-outline:hover,
.btn-grey.btn-outline:hover {
  border-color: #5b5d5f;
}
.btn-default:hover,
.btn-grey:hover {
  background: #5b5d5f;
  color: #ffffff;
}
.btn-primary,
.btn-blue {
  background: #00BDB7;
  color: #ffffff;
}
.btn-primary.btn-outline,
.btn-blue.btn-outline {
  background: transparent;
  border-color: #00BDB7;
  color: #00BDB7;
}
.btn-primary.btn-outline:hover,
.btn-blue.btn-outline:hover {
  border-color: #00716d;
}
.btn-primary:hover,
.btn-blue:hover {
  background: #00716d;
  color: #ffffff;
}
.btn-success,
.btn-green {
  background: #5cb85c;
  color: #ffffff;
}
.btn-success.btn-outline,
.btn-green.btn-outline {
  background: transparent;
  border-color: #5cb85c;
  color: #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-green.btn-outline:hover {
  border-color: #00a27c;
}
.btn-success:hover,
.btn-green:hover {
  background: #4ea04e;
  color: #ffffff;
}
.btn-info,
.btn-yellow {
  background: #FFB734;
}
.btn-info.btn-outline,
.btn-yellow.btn-outline {
  background: transparent;
  border-color: #FFB734;
  color: #FFB734;
}
.btn-info.btn-outline:hover,
.btn-yellow.btn-outline:hover {
  border-color: #e69500;
}
.btn-info:hover,
.btn-yellow:hover {
  background: #e69500;
}
.btn-warning,
.btn-orange {
  background: #ee873c;
  color: #ffffff;
}
.btn-warning.btn-outline,
.btn-orange.btn-outline {
  background: transparent;
  border-color: #ee873c;
  color: #ee873c;
}
.btn-warning.btn-outline:hover,
.btn-orange.btn-outline:hover {
  border-color: #cc6012;
  color: #cc6012;
}
.btn-warning:hover,
.btn-orange:hover {
  background: #cc6012;
  color: #ffffff;
}
.btn-danger,
.btn-red {
  background: #FF3E56;
  color: #ffffff;
}
.btn-danger.btn-outline,
.btn-red.btn-outline {
  background: transparent;
  border-color: #FF3E56;
  color: #FF3E56;
}
.btn-danger.btn-outline:hover,
.btn-red.btn-outline:hover {
  background: #FF3E56;
  color: #ffffff;
}
.btn-danger:hover,
.btn-red:hover {
  background: #f1001e;
  color: #ffffff;
}
.btn-simple,
.btn-white {
    background: #ffffff;
    color: #3c3c3c !important;
}
.btn-simple.btn-outline,
.btn-white.btn-outline {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-simple.btn-outline:hover,
.btn-white.btn-outline:hover {
  border-color: #ffffff;
  color: #808386;
}
.btn-simple:hover,
.btn-white:hover {
  background: #ffffff;
}
.btn-light-grey {
  background: #e8e8e8;
  color: #808386;
}
.btn-light-grey.btn-outline {
  background: transparent;
  border-color: #e8e8e8;
  color: #808386;
}
.btn-light-grey.btn-outline:hover {
  border-color: #e8e8e8;
  background: #e8e8e8;
  color: #808386;
}
.btn-light-grey:hover {
  background: #dbdbdb;
}
.btn-facebook {
  background: #4267b2;
  color: #ffffff;
}
.btn-facebook.btn-outline {
  background: transparent;
  border-color: #4267b2;
  color: #4267b2;
}
.btn-facebook.btn-outline:hover {
  border-color: #4267b2;
  color: #ffffff;
}
.btn-facebook:hover {
  background: #34518d;
  color: #ffffff;
}
.btn-group-vertical > .btn {
  margin-bottom: 0;
}
.btn-group-vertical > .btn:last-child {
  margin-bottom: 10px;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?8gr9ex');
  src: url('../fonts/icomoon.eot?8gr9ex#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?8gr9ex') format('truetype'), url('../fonts/icomoon.woff?8gr9ex') format('woff'), url('../fonts/icomoon.svg?8gr9ex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-check:before {
  content: "\e909";
}
.icon-star-o:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-intro:before {
  content: "\e906";
}
.i-disciplinas:before {
  content: "\e90a";
}
.i-ambientes:before {
    content: "\e90d";
}
.i-temas-gerais:before {
  content: "\e90e";
}
.i-curiosidades:before {
  content: "\e90f";
}
.i-quero-trabalhar-com:before {
  content: "\e910";
}
.i-eu-protagonista:before {
  content: "\e912";
}
.i-quero-saber-mais:before {
  content: "\e913";
}
.icon-heart-f:before {
  content: "\e90b";
}
.icon-no:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e911";
}
.icon-artes:before {
  content: "\e914";
}
.icon-ciencias-sociais:before {
  content: "\e915";
}
.icon-ciencias-biologicas:before {
  content: "\e916";
}
.icon-engenharias:before {
  content: "\e917";
}
.icon-ciencias-da-saude:before {
  content: "\e918";
}
.icon-ciencias-exatas:before {
  content: "\e919";
}
.icon-ciencias-humanas:before {
  content: "\e91a";
}
.icon-ciencias-agrarias:before {
  content: "\e91b";
}
.form-sep {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.form-sep span {
  display: inline-block;
  font-size: 120%;
  color: #808386;
  z-index: 2;
  position: relative;
  padding: 0 10px;
  background: #ffffff;
  font-size: 14px;
}
.form-sep::before {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;
}
label {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control, select.form-control {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus, select.form-control:focus {
  border: 1px solid #808386;
}
textarea[disabled],
textarea.form-control[disabled],
input.form-control[disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=number][disabled],
[type=text].form-control[disabled],
[type=password].form-control[disabled],
[type=email].form-control[disabled],
[type=tel].form-control[disabled],
[contenteditable].form-control[disabled],
textarea[readonly],
textarea.form-control[readonly],
input.form-control[readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=number][readonly],
[type=text].form-control[readonly],
[type=password].form-control[readonly],
[type=email].form-control[readonly],
[type=tel].form-control[readonly],
[contenteditable].form-control[readonly] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px dotted #ddd;
}
/*
select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0\9; // remove padding for < ie9 since default arrow can't be removed
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  .box-shadow(inset 0 -1px 0 #ddd);
  fonts-size: 16px;
  line-height: 1.5;

  &::-ms-expand {
    display: none;
  }

  &.input {
    &-sm {
      fonts-size: @fonts-size-small;
    }

    &-lg {
      fonts-size: @fonts-size-large;
    }
  }

  &:focus {
    .box-shadow(inset 0 -2px 0 @brand-primary);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  }

  &[multiple] {
    background: none;
  }
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  label {
    padding-left: 25px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-left: -25px;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    .transition(240ms);
  }

  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: @brand-primary;
    .scale(0);
  }

  &:after {
    position: relative;
    top: -3px;
    border: 2px solid @gray;
  }

  &:checked:before {
    .scale(0.5);
  }

  &:disabled:checked:before {
    background-color: @gray-light;
  }

  &:checked:after {
    border-color: @brand-primary;
  }

  &:disabled:after,
  &:disabled:checked:after {
    border-color: @gray-light;
  }
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus:after {
    border-color: @brand-primary;
  }

  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid @gray;
    border-radius: 2px;
    .transition(240ms);
  }

  &:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    .rotate(45deg);
  }

  &:checked:after {
    background-color: @brand-primary;
    border-color: @brand-primary;
  }

  &:disabled:after {
    border-color: @gray-light;
  }

  &:disabled:checked:after {
    background-color: @gray-light;
    border-color: transparent;
  }
}

.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    .box-shadow(inset 0 -2px 0 @brand-warning);
  }
}

.has-error {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    .box-shadow(inset 0 -2px 0 @brand-danger);
  }
}

.has-success {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    .box-shadow(inset 0 -2px 0 @brand-success);
  }
}
.input-group-addon {
  .has-warning &, .has-error &, .has-success & {
    color: @input-color;
    border-color: @input-group-addon-border-color;
    background-color: @input-group-addon-bg;
  }
}

.form-group-lg {
  select,
  select.form-control {
    line-height: 1.5;
  }
} */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.logo {
    display: block;
    position: absolute;
    z-index: 3;
    top: 23px;
    left: 20px;
    width: 135px;
    height: 50px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 1px;
}
@media only screen and (min-width: 992px) {
  .logo {
    width: 140px;
    left: 25px;
  }
}
.panel-wrapper {
  display: block;
  width: 100%;
  position: relative;
}
@media (min-height: 600px) and (only screen and (min-width: 992px)) {
  .panel-wrapper {
    height: 100%;
  }
}
.side-panel {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .side-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.side-panel .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .85;
  top: 0;
  left: 0;
}
.main-panel {
    position: relative;
    min-height: 100vh;
}
.main-panel .switch {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 5%;
  font-size: 13px;
  color: #596377;
  letter-spacing: 0;
  line-height: 36px;
  z-index: 2;
}
.main-panel .switch .btn {
        margin-left: 15px;
        margin-top: 8px;

}
.main-panel .switch span {
  display: none;
}
@media only screen and (min-width: 992px) {
  .main-panel .switch span {
    display: inline;
  }
}
.main-panel h1 {
  margin-bottom: 1.1em;
  font-size: 26px;
  font-weight: bold;
}
@media only screen and (min-width: 992px) {
  .main-panel h1 {
    /*font-size: 36px;*/
  }
}
.main-panel h1 small {
  display: block;
  font-size: 52%;
  margin-top: .4em;
  width: 80%;
  line-height: 1.4em;
  margin-left: 2px;
}
.main-panel .table {
  display: table;
  width: 100%;
  height: 100%;
}
.main-panel .table .table-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 100px;
  padding-bottom: 20px;
}
.main-panel .table .content {
  clear: both;
  width: 90%;
  /*max-width: 500px;*/ /*460px*/
  margin: 0 auto;
  margin-top: -20px;
}
.main-panel .table .terms-of-use {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
}
@media (max-width: 992px){
    .main-panel .switch .btn {

        margin-top: 0px;
    }
    }
.btn-google {
    background: #d34836;
    color: white;
}

    .btn-google:hover {
        background: #bc3d2f;
        color: white;
    }

.table{margin-bottom: 0}

#gSignInWrapper{display: block}
@media (max-width: 992px) {
    #gSignInWrapper {
        display: inline;
    }
}
.form-group {
    margin-bottom: 10px;
}

.cta {
    position: relative;
    z-index: 10;
    top: -20px;
}

.content-side-panel {
    width: 100%;
    position: relative;
    z-index: 10;
    height: calc(100vh - 150px);
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-side-panel p{
    margin: 0;
    text-align: center;
        font-size: 16px;
    line-height: 24px;
}
.content-side-panel h5{font-size: 16px}
.testimonials {
    max-width: 100%;
}
.testimonials .testimonial-content {
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 25px;
    color: #626262;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.testimonials .testimonial-person {
    padding-left: 40px;
    margin-top: 20px;
    color: #ffffff;
    position: relative;
    text-align: left;
}

    .testimonials .testimonial-person .avatar {
        width: 60px;
        float: left;
        margin-right: 15px;
    }

        .testimonials .testimonial-person .avatar::after {
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #ffffff;
            position: absolute;
            top: -20px;
            left: 57px;
        }

    .testimonials .testimonial-person .name {
        display: block;
        padding-top: 5px;
        font-weight: 700;
        font-size: 20px;
    }

    .testimonials .testimonial-person .subtitle {
        font-size: 1.0em;
        opacity: .9;
    }

    .testimonials .owl-dots {
        overflow: hidden;
        text-align: center;
        top: -30px;
        left: calc(50% - 15px);
        position: absolute;
    }

    .testimonials .owl-dots .owl-dot {
        margin: 0 2px;
        display: inline-block;
        vertical-align: middle;
    }

        .testimonials .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            background: #ffffff;
            display: block;
            opacity: .7;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }

        .testimonials .owl-dots .owl-dot.active span {
            width: 15px;
            height: 15px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            opacity: 1;
        }

@media (max-width: 330px) {
    .content-side-panel p {
        font-size: 15px;
        line-height: 22px;
    }
    .testimonials .testimonial-content{padding: 20px;}
    .logo {
        top: 10px;
    }
}


.validation-summary-errors ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-0 {
  margin: 0 !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

option.input-lg{color: #555555!important}

select.input-lg{
  font-size: inherit !important;
  line-height: inherit;
  color: #999999;
}
a, a:hover{color: #03a7a1}
/* .g-orange{
  background: #FA8A10;
} */
