@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url(font-awesome.min.css);
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-position:  40%;
}

header {
  border-bottom: 10px solid #662d91;
  background: #ffffff;
}

.navbar {
  background: none;
  border: none;
  padding: 15px 0;
  margin: 0;
}

.navbar-brand img {
  max-height: 100px;
}

.navbar .navbar-collapse, .navbar-form {
  border: 0;
}

.nav-brand img{
  height: 70px;
  width: auto;
}

.navbar .navbar-toggle {
  border-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
  background: #000e6e;
}

.navbar .navbar-toggle:focus, .navbar-toggle:hover {
  background: none;
}

.navbar .container {
  padding-bottom: 10px;
}

.result-page {
  background-image: url(../img/bg_unisociesc_azul.jpg);
  background-position: 35% 70%;
  min-height: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}
.landing-page {
  background-image: url(../img/bg_unisociesc_novo.jpg);
  background-position: 35% 70%;
  min-height: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}

.mentor-choice {
  background: #662d91;
  background-size: cover;
  height: 100%;
}

.mentor-choice img {
  height: 125px;
  width: auto;
}

.button-mentor {
  height: 125px; 
  background: #662d91; 
  color: #fff; 
  cursor: pointer;
}

.button-mentor:hover {
  background: #883d91;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.no-padding {
  padding: 0;
}

footer {
  background: #284675;
  width: 100%;
  max-height: 100%;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 15px;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.5px
}

/*h1::after {
  content: '';
  background: #ff357b;
  height: 8px;
  width: 110px;
  top: calc(100% + 15px);
  left: 0;
  position: absolute;
}*/

p {
  color: #13357a;
  line-height: 30px;
  font-size: 17px;
}

.p-bold {
  font-weight: bold;
  padding: 10px 0;
  font-size: 17px
}

.btn-red {
  background: #662d91;
  color: #ffffff;
  width: 100%;
  border-radius: 3px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.35s;
  margin-bottom: 10px;
  font-size: 16px;
}

.btn-red:hover {
  background: #883d91;
  color: #ffffff;
  transition: 0.35s;
}

.btn-blue {
  padding: 10px 25px;
  background: #13357a;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  transition: 0.5s;
  margin-top: 8px;
  font-weight: bold;
}

.btn-blue:hover {
  color: #ffffff;
  transition: 0.35s;
  background: #2e519f;
}

.btn-blue i{
  color: #662d91;
}

.m-r-5 {
  margin-right: 5px;
}

.faixa-rosa {
  color: #fff;
  background: #662d91;
  line-height: 55px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 38px;
    line-height: 44px;
  }
  .landing-page {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pull-right {
    float: left!important
  }
  body {
    
  }
  .faixa-rosa{line-height: 49px}
  p{font-size: 15px}
}


