<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title"><strong>Cadastro da Escola</strong></h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/Admin/Dashboard">Dashboard</a></li>
      <li class="active">Cadastro da Escola</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title m-b-25">Cadastro da Escola</h3>
      <div class="row">
          <div class="col-xs-7">
            <div class="form-group">
              <label>Nome da Escola</label>
                <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-xs-1 check">
            <div class="radio radio-info">
                <input type="radio" name="radio5" id="radio15" value="option5">
                <label for="radio15"> Privada </label>
            </div>
          </div>
          <div class="col-xs-1 check">
            <div class="radio radio-info">
                <input type="radio" name="radio5" id="radio15" value="option5">
                <label for="radio15"> Pública </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label>Estado</label>
              <select class="form-control">
                  <option>Selecione o Estado</option>
                  <option>SP</option>                  
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label>Cidade</label>
              <select class="form-control">
                  <option>Selecione a Cidade</option>
                  <option>São Paulo</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label>Bairro</label>
              <select class="form-control">
                  <option>Selecione o Bairro</option>                  
              </select>
            </div>
          </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label>E-mail</label>
              <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label>Senha</label>
              <input type="password" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 align-center">
          <button onclick="window.location='/Admin/Dashboard'" class="btn btn-success">Cadastrar escola</button>
        </div>
      </div>
    </div>
  </div>
</div>
