<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="">
    <title>Painel Admin - @ViewData["Title"]</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    @*
        <link href="~/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">*@
    <!-- toast CSS -->
    @*
        <link href="~/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">*@
    <!-- animation CSS -->
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/vendor.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/colors/megna-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("head", false)
    <style>
        .chosen-container{
            width: 100% !important;
        }
    </style>
</head>

<script>
    function formatDots(n) {
        return n.toLocaleString('pt-BR');
    }
</script>

<body class="fix-header" ng-app="app">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/Admin/Dashboard">
                    </a>

                </div>
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs" style="font-size: 18px; font-weight: 900;"><i class="ti-close ti-menu"></i></a></li>
                    @if (User.IsInRole("MasterAdmin"))
                    {
                        <input type="hidden" id="masterAdminBrandId" value="@Context.Request.Cookies["BrandId"]?.ToString()" />
                        <li style="padding-top: 10px;">
                            <select class="form-control" id="masterAdminBrand" onchange="setBrand()"></select>
                        </li>
                    }
                </ul>
                <!-- /Logo -->

                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic waves-effect" data-toggle="dropdown" href="#"> <img src="/images/avatar-50x50.jpg" alt="user-img" width="30" class="img-circle"><b class="hidden-xs">@(User.Identity.Name)</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <li><a href="/Admin/User/ChangePassword"><i class="fa fa-cog"></i> &nbsp;Alterar senha</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Admin/Auth"><i class="fa fa-power-off"></i> &nbsp;Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Menu</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li class="user-pro">
                        <a href="#" class="waves-effect">
                            <img src="/images/avatar-50x50.jpg" alt="user-img" class="img-circle">
                            <span class="hide-menu">@User.Identity.Name</span>
                        </a>
                    </li>
                    <li><a href="/Admin/Dashboard" class="waves-effect"><i class="fa fa-tachometer fa-fw"></i> <span class="hide-menu"> Dashboard</span></a></li>
                    <li><a href="/Admin/SchoolRegister" class="waves-effect"><i class="fa fa-institution fa-fw"></i> <span class="hide-menu"> Escola</span></a></li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper" style="margin-top:4em;">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> @DateTime.Now.Year &copy; Vetor?</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Calendar JavaScript -->
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- Custom tab JavaScript -->
    <script src="/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
        (function () {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
    </script>
    <script>
        function parseURL(url) {
            var a = document.createElement('a');
            a.href = url;
            return {
                source: url,
                protocol: a.protocol.replace(':',''),
                host: a.hostname,
                port: a.port,
                query: a.search,
                params: (function(){
                    var ret = {},
                    seg = a.search.replace(/^\?/,'').split('&'),
                    len = seg.length, i = 0, s;
                    for (;i<len;i++) {
                        if (!seg[i]) { continue; }
                        s = seg[i].split('=');
                        ret[s[0]] = s[1];
                    }
                    return ret;
                })(),
                file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
                hash: a.hash.replace('#',''),
                path: a.pathname.replace(/^([^\/])/,'/$1'),
                relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [,''])[1],
                segments: a.pathname.replace(/^\//,'').split('/')
            };
        }

    </script>
    @RenderSection("scripts", false)
</body>

</html>
