<div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"><strong>Dashboard</strong></h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Dashboard</h3>
    </div>
  </div>
</div>
