<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Auth")">@ViewBag.Brand?.Name</a>            
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                @if (User.Identity.IsAuthenticated)
                {                       
                    <li>
                        <a href="~/faq"
                           data-gtmeventcategory="FAQLink" data-gtmeventaction="Click" data-gtmeventlabel="Navbar" target="_blank">Preciso de ajuda</a>
                    </li>
                }                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="hidden-sm hidden-xs"><a href="#" style="text-decoration: none; cursor: default">@User.Identity.Name</a></li>
                    <li><a href="@Url.Action("Logoff", "Auth")">Sair</a></li>
                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </ul>
        </div>
    </div>
</nav>