@{
    ViewBag.SectionTitle = "Seja bem-vindo";
    ViewBag.BodyClass = "theme-green";
    string bodyClass = "theme-orange";
    ViewBag.BodyClass = bodyClass;
}

<div class="row" id="important-tips">
    <div class="col-sm-12 ">
        <div class="slider owl-carousel">
            <div id="card1">
                <div class="box-avatar">
                    <div class="avatar" style="background: url('http://app.quecurso.com.br/images/avatar_1.jpg'); background-repeat: no-repeat; background-size:cover;background-position: center;"></div>
                </div>
                <div class="card">
                    <div class="important-tips-text">
                        <h4>O que você acharia de estudar mais tempo as matérias que mais gosta?</h4>
                        <p>Com a reformulação do Ensino Médio, o governo organizou os conteúdos escolares em cinco grandes áreas: os itinerários do ensino médio.</p>
                        <p>Em alguns deles você vai ter uma carga horária maior de algumas matérias como português, matemática, história, geografia, etc. Já já a gente te mostra quais são estes itinerários.</p>
                        <p>Também existe um itinerário indicado para quem quer aprender uma atividade que lhe possibilite, ao término do ensino médio, tanto seguir estudando no ensino superior (faculdades e universidades), quanto ir direto para o mercado de trabalho já podendo oferecer um serviço que aprendeu e que facilite conseguir um emprego.</p>
                        <p>Mas atenção: você não poderá estudar apenas o que gosta, algumas matérias, como português e matemática, são obrigatórias em qualquer um dos itinerários.</p>
                        <br>
                        <button class="btn-continue btn btn-success  m-t-20 m-b-10">Continuar</button> <br />
                    </div>
                </div>
            </div>
            <div id="card2">
                <div class="box-avatar">
                    <div class="avatar" style="background: url('http://app.quecurso.com.br/images/avatar_1.jpg'); background-repeat: no-repeat; background-size:cover;background-position: center;"></div>
                </div>
                <div class="card">
                    <div class="important-tips-text">
                        <h4>Agora sim. Vamos aos itinerários:</h4>
                        <p>
                            <span>I - <b>linguagens e suas tecnologias</b> (Você terá mais aulas de Língua Portuguesa, Literatura, Língua Estrangeira e Artes);</span><br>
                            <span>II - <b>matemática e suas tecnologias</b> (Você terá mais aulas de Matemática);</span><br>
                            <span>III - <b>ciências da natureza e suas tecnologias</b> (Você terá mais aulas de Química, Física e Biologia);</span><br>
                            <span>IV - <b>ciências humanas e sociais aplicadas</b> (Você terá mais aulas de História, Filosofia, Sociologia e Geografia);</span><br>
                            <span>V - <b>formação técnica e profissional</b>  (Esse é aquele itinerário diferentão. Nele você tem aulas mais práticas de algum dos 220 cursos aprovados pelo MEC, conforme o Catálogo Nacional dos Cursos Técnicos).</span>
                        </p>
                        <br>
                        <button class="btn-continue btn btn-success  m-b-10" style="margin-bottom: 0px;" >Continuar</button> <br />
                    </div>
                </div>
            </div>
            <div id="card3">
                <div class="box-avatar">
                    <div class="avatar" style="background: url('http://app.quecurso.com.br/images/avatar_1.jpg'); background-repeat: no-repeat; background-size:cover;background-position: center;"></div>
                </div>
                <div class="card">
                    <div class="important-tips-text">
                        <h4>Os cursos da formação técnica e profissional são divididos em 13 eixos:</h4>
                        <ol style="text-align: left">
                            <li>Ambiente e Saúde;</li>
                            <li>Controle e Processos Industriais;</li>
                            <li>Desenvolvimento Educacional e Social;</li>
                            <li>Gestão e Negócios;</li>
                            <li>Informação e Comunicação;</li>
                            <li>Infraestrutura;</li>
                            <li>Militar;</li>
                            <li>Produção Alimentícia;</li>
                            <li>Produção Cultural e Design;</li>
                            <li>Produção Industrial;</li>
                            <li>Recursos Naturais;</li>
                            <li>Segurança;</li>
                            <li>Turismo, Hospitalidade e Lazer.</li>
                        </ol><br>
                        <button class="btn-continue btn btn-success  m-b-10" style="margin-bottom: 0px;" >Continuar</button> <br />
                    </div>
                </div>
            </div>
            <div id="card4">
                <div class="box-avatar">
                    <div class="avatar" style="background: url('http://app.quecurso.com.br/images/avatar_1.jpg'); background-repeat: no-repeat; background-size:cover;background-position: center;"></div>
                </div>
                <div class="card">
                    <div class="important-tips-text">
                        <h4 class="m-b-15">Agora que você já conhece cada uma das possibilidades de itinerário, com qual deles você acha que mais se identifica?</h4>
                        <p>
                            <span>Algumas pessoas podem ficar muito divididas entre os itinerários, pois gostam muito de matérias que ficaram separadas em itinerários diferentes.
                            Outras também podem ficar com muita dúvida entre fazer um itinerário com matérias escolares (linguagens e suas tecnologias, matemática e suas tecnologias, ciências da natureza e suas tecnologias ou ciências humanas e sociais aplicadas) ou o de formação técnica e profissional (aquele mais focado no aprendizado de uma profissão).</span><br>
                            <span>Para ajudar jovens como você a resolver essas dúvidas, evitando frustrações e a troca de itinerário no meio dos estudos do ensino médio, criamos um questionário que vai apontar dois resultados:</span>
                        </p>
                        <ol type="a" style="text-align: left">
                            <li>Com qual dos quatro itinerários acadêmicos seus interesses estão mais relacionados;</li>
                            <li>Em quais eixos você tem mais chance de encontrar um curso parecido com você, caso decida pela formação técnica e profissional.</li>
                        </ol>
                        <p></p>
                        <br>
                        <p>
                            <span>É importante que você saiba que o teste não vai mostrar o eixo Militar como uma possibilidade individual. É que o eixo Militar reúne muitos cursos diferentes. Assim, caso alguma formação técnica e profissional do eixo Militar tenha relação com seus interesses, ele vai ser apontado na sua lista de sugestões!</span>
                        </p>
                        <a class="btn btn-success  m-t-20 m-b-10" id="btnNext" style="margin-bottom: 0px;" href="/Discipline">Começar</a> <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
  <script>
      $('.slider').owlCarousel({
          loop: false,
          stagePadding: 2,
          margin: 20,
          dots: true,
          nav: false,
          navText: ["", ""],
          slideBy: "page",
          responsive: {
          0: {
              items: 1
          }
          }
  });
  </script>

    <script>
        var owl = $('.slider');
        owl.owlCarousel();

        $(".btn-continue").click(function(){
            owl.trigger('next.owl.carousel');
        })

  </script>

}
