<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="mentor">
    <section class="landing-page" v-show="tab == 1">
        <div class="container">
            <div class="col-md-6 col-xs-12">
                <h1><span class="faixa-rosa">Bem-vindo, João! Ainda tem dúvidas sobre os cursos escolhidos?</span></h1>
                <p> A gente criou uma ferramenta de mentoria para garantir que você está fazendo a escolha certa. </p>
                <p class="p-bold"> Você pode conversar com um aluno cursando Biomedicina e Farmácia através da nossa ferramenta, você agenda um horário e pode perguntar
        oque quiser ! </p>
                <p> E aí, bora? </p>
                <button @@click="changeTab(2)" class="btn btn-red" role="button" target="_blank">#PartiuConversar</button> 
            </div>
        </div>
    </section>

    <section class="mentor-choice" v-show="tab == 2">
        <div class="container text-center">
            <h1 class="faixa-rosa">Escolha o seu mentor</h1>
            <div v-for="m in mentors" style="margin-top: 15px;" class="col-md-10 col-md-offset-1 panel panel-default no-padding">
                <div class="panel-body text-center no-padding">
                    <div class="col-md-2">
                        <img :src="m.image" class="img-circle" alt="">
                    </div>
                    <div class="col-md-8 text-center">
                        <h3>{{m.name}}</h3>
                        <h4>{{m.course.name}}</h4>
                        <h4>
                            <span class="label label-default" style="margin: 5px 5px" v-for="i in m.interests">{{i}}</span>
                        </h4>
                    </div>
                    <div @@click="selectMentor(m)" class="col-md-2 text-center button-mentor">
                        <h4>{{m.avaliation}} <i class="fa fa-star"></i></h4>
                        <h2 style="margin-top: 15px;"><i class="fa fa-arrow-right"></i></h2>
                        <h4>Ver Mais</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mentor-calendar" v-show="tab == 3">
        <div class="container">
            <div class="row">
                <div style="margin-top: 15px;" class="col-md-10 col-md-offset-1 panel panel-default no-padding">
                    <div class="panel-body text-center no-padding">
                        <div class="col-md-1">
                            <img :src="mentor.image" style="height: 200px;margin: 5px 5px;" class="img-circle" alt="">
                        </div>
                        <div class="col-md-8 text-center col-md-offset-3">
                            <h3>{{mentor.name}}, {{mentor.age}} anos - {{mentor.avaliation}} <i class="fa fa-star"></i></h3>
                            <h4>{{mentor.course.name}} - {{mentor.period}} Período</h4>
                            <h4>
                                <span class="label label-default" style="margin:5px 5px;" v-for="i in mentor.interests">{{i}}</span>
                            </h4>
                            <h4>Apresentação: </h4>
                            <h6>
                                {{mentor.description}}
                            </h6
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <h3>{{selectedDate | ''}}</h3>
                <div class="col-xs-12">
                    <div id="calendar"></div>
                </div>                
                <button @@click="changeTab(4)" class="btn btn-red" role="button" target="_blank">#Agendar</button>
            </div>
        </div>
    </section>


    <section class="result-page" v-show="tab == 4">
        <div class="container">
            <div class="col-xs-12">
                <h1><span class="faixa-roxa">Parabéns, João! Sua mentoria está confirmada!</span></h1>
                <p class="p-bold" style="color:white">Acesse o link abaixo para começar sua conversa.</p>
                <div class="col-md-3 col-xs-12">
                    <button class="btn btn-red" @@click="mentoringLink()"  href="#" role="button" target="_blank">#PartiuMentoria</button> 
                </div>
            </div>  
        </div>
    </section>
</div>
<script src="/js/vendor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.10/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.4.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js"></script>
<script>

    $(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({                
            // put your options and callbacks here
            dayClick: function(date, jsEvent, view) {                                
                //mentoring.selectedDate = date.toLocaleDateString('pt-BR');
                var formattedDate = date.format();

                var year = formattedDate.substring(0, 4);
                var month = formattedDate.substring(5, 7) - 1;
                var day = parseInt(formattedDate.substring(8, 10));
                var date = new Date(year, month, day).toLocaleDateString('pt-BR');
                // change the day's background color just for fun
                mentoring.selectedDate = date;
                $('.fc-day').css({'background-color' : 'white'});
                $(this).css('background-color', '#662d91');

            },
            events: [
                {
                title  : 'Ocupado',
                start  : '2018-03-20'
                },
                {
                title  : 'Ocupado',
                start  : '2018-03-22'
                },
            ]
        })

    });

    var mentoring = new Vue({
        el: '#mentor',
        data: {
            tab: 1,
            mentors: [{
                name: "Paula Diane",
                age: 21,
                period: "7º",
                course: {
                    name: "Biomedicina"
                },
                interests: ["Genética", "Biologia Molecular", "Acupuntura"],
                availableDays: ["Segunda", "Terça", "Quarta"],
                description: "Sou aluna do quarto ano de biomedicina e sempre tive interesse pela ciência. A área de genética sempre dispertou meu entusiasmo, este interesse se ampliou após iniciar meu projeto de iniciação científica em genética.",
                avaliation: "5.0",
                image: "/img/user3.jpg"
            }, {
                name: "Lueni Gomes do Carmo",
                age: 21,
                period: "7º",
                course: {
                    name: "Biomedicina"
                },
                interests: ["Imunologia", "Análises Clínicas", "Análises Bromatológicas"],
                availableDays: ["Segunda", "Terça", "Quarta"],
                description: "Sou aluna da Universidade São Judas Tadeu, estou no último ano do curso de biomedicina e atualmente faço estágio na área de imunopatologia.",
                avaliation: "4.5",
                image: "/img/user4.jpg"
            }, {
                name: "Ester da Silva Malta Neta",
                age: 24,
                period: "7º",
                course: {
                    name: "Biomedicina"
                },
                interests: ["Hematologia", "Anatomia", "Citologia Oncótica"],
                availableDays: ["Segunda", "Terça", "Quarta"],
                description: "Eu sou aluna do 4º ano, apaixonada pela ciência, viciada em livros e música.",
                avaliation: "4.0",
                image: "/img/user5.jpg"
            }],
            selectedDate : null,
            mentor: {
                name: "Paula Diane",
                age: 21,
                period: "7º",
                course: {
                    name: "Biomedicina"
                },
                interests: ["Genética", "Biologia Molecular", "Acupuntura"],
                availableDays: ["Segunda", "Terça", "Quarta"],
                description: "Sou aluna do quarto ano de biomedicina e sempre tive interesse pela ciência. A área de genética sempre dispertou meu entusiasmo, este interesse se ampliou após iniciar meu projeto de iniciação científica em genética.",
                avaliation: "5.0",
                image: "/img/user3.jpg"
            },
        },
        methods: {
            mentoringLink: function() {
                window.location.href = "https://appear.in/bearingsvocacional"
            },
            changeTab: function(tab) {
                var vm = this;
                vm.tab = tab;
            },
            selectMentor: function(mentor) {
                var vm = this;
                vm.mentor = mentor;
                vm.tab = 3;
            },
        },
        mounted : function(){
            
        }
    });

</script>