@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
<title>Painel Admin - </title>
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/colors/megna-dark.css" id="theme" rel="stylesheet">
</head>
<body style="background-color: #EDF1F5">
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div style="min-height: 100vh; height: 100%; width: 100%; min-width: 100vw; display: flex; flex-direction: column; justify-content: center;">
  <div class="new-login-box" style="margin: 0 auto">
            <div class="white-box">
                <h3 class="box-title m-b-0">Faça seu login</h3>
              <form class="form-horizontal new-lg-form">
                <div class="form-group  m-t-20">
                  <div class="col-xs-12">
                    <label>E-mail</label>
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <label>Senha</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group text-center m-t-20" style="margin-bottom: 0">
                  <div class="col-xs-12">
                    <a class="btn btn-info btn-lg btn-block" href="/Admin/Dashboard">Fazer login</a>
                  </div>
                </div>
              </form>
            </div>
  </div>
</div>
<script src="/js/vendor.js"></script>
<script src="/js/sidebar-nav.min.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/custom.min.js"></script>
</body>
</html>
